[submodule "audio/src/opus"]
	path = audio/src/opus
	url = https://github.com/xiph/opus.git
[submodule "graphics/src/icrate"]
	path = graphics/src/icrate
	url = https://github.com/madsmtm/objc2.git
	branch = split-icrate
